@font-face {
    font-family: "diamond";
    src: url(../fonts/black_diamonds/BlackDiamondsPersonalUse.ttf);
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/*$$$$$$$$$$$$$$ HEADER $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

header, .navbar-default {
    background-color: #ddd;
}

.navbar-default {
    border-color: none !important;
}

.navbar-fixed-top {
    border-width: 0;
}

#brand {
    font-family: "diamond";
    font-size: 30px;
}

#brand, .navbar-default .navbar-nav>li>a, header h1, .arrow-down {
    color: #095057;
    /*#095057*/
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F24C58;
}

header nav a:after, .navbar-header a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0%;
    background: transparent;
    transition: .5s;
}

header nav a:hover:after, .navbar-header a:hover:after {
    width: 100%;
    background: #F24C58;
}

.welcome {
    padding: 200px;
    background: url("../img/portfolio.jpg") center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    letter-spacing: 10px;
    font-size: 30px;
}

.welcome h1:hover {
    color: #F24C58;
}

.arrow-down a {
    color: #095057;
}

.arrow-down a:hover {
    transition: color 0.3s linear;
    color: #F24C58;
}


/*$$$$$$$$$$$$$$$$$$$ ABOUT $$$$$$$$$$$$$$$$$$$$$$$*/

#about {
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

.about {
    padding: 3% 15%;
}

.about h1 {
    margin: 5%;
    color: #095057;
    font-family: "diamond";
    font-size: 50px;
}

.about h2 {
    color: #095057;
}

.about p {
    font-size: 19px;
    color: #095057;
}

.about img {
    display: inline-block;
    width: 150px;
}

/*#skills {
    margin-left: 37%;
}*/

#skills .logo{
  /*margin: 20px 0;*/
}

#skills ul {
  display: inline;
}

/*$$$$$$$$$$$$$$$$ PORTFOLIO $$$$$$$$$$$$$$$$$$$*/

.images {
    width: 60%;
    /*height: 300px;*/
    position: absolute;
    margin-left: 12%;
}

#portfolio {
    margin-bottom: 25%;
}

#portfolio .text-center {
    color: #095057;
    margin-top: 100px;
}

#portfolio h2 {
    font-size: 50px;
    font-family: "diamond";
}

.carousel-inner img {
    width: 100%;
}

.modal-footer .btn-primary {
    background-color: #F24C58;
    border-color: #F24C58;
}

.modal-footer .btn-primary:hover {
    background-color: #095057;
}

#exampleModalLabel {
    font-family: "diamond";
    font-size: 25px;
    margin-left: 50%;
    color: #095057;
}

.modal-body {
    font-size: 19px;
    color: #095057;
}


/*$$$$$$$$$$$$$$$$ CARDS PORTFOLIO $$$$$$$$$$$$$$$$$$$*/

.card-img-top {
    width: 100%;
    height: 230px;
    /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);*/
}

.cardImage {
/*background: #095057;*/
/*border: 3px solid #F24C58;*/
}

.cardImage .screen{
	/*opacity: 1;*/
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  filter: grayscale(100%);
}

.cardImage .screen {
	/*opacity: 0.7;*/
}

.cardImage .screen:hover {
	opacity: 1;
  background: none;
  -webkit-filter: none;
}

.cartes {
    margin-top: 100px;
}

.cartes .info {
    position: absolute;
    width: 40px;
    text-align: center;
    bottom: 10%;
    right: 10%;
}

.cartes h2 {
    font-size: 50px;
    font-family: "diamond";
    color: #095057;
    margin-bottom: 40px;
}

.container-fluid .row .card {
  padding: 0;
}

.cardImage p, .a_masquer h4 {
  color: #095057;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.a_masquer {
  position: absolute;
  top: 40px;
  left: 75px;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 65%;
  height: 70%;
  transition: 3s;
}

.button {
  background-color: #F24C58;
  border: #F24C58;
  color: white;
}

/*$$$$$$$$$$$$$$$$ CONTACT $$$$$$$$$$$$$$$$$$$*/

.btn{
height: 3rem;
border: 2px solid #095057;
}

.btn a {
  color: #095057;
  font-size: 17px;
  letter-spacing: .5px;
  font-weight: bold;
}

.btn a:hover {
  text-decoration: none;
  color: #F24C58;
}

#contact {
    background-color: #F8F8F8;
    color: #095057;
}

#contact .social {
    margin: 50px 0;
}

#contact h3 {
    margin-bottom: 40px;
    font-family: "diamond";
    color: #095057;
    font-size: 50px;
}

#contact a {
    color: #095057;
    transition: 0.3s;
    margin-right: 20px;
}

#contact a:hover {
    color: #F24C58;
}

#contact ul, footer small {
    display: inline;
}

#list>li {
    /*margin-top: 10px;*/
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

#contact {
    margin-top: 100px;
}


/*$$$$$$$$$$$$$$$$$$$$ FOOTER $$$$$$$$$$$$$$$$$$$*/

footer .footer-below {
    /*padding: 25px 0;*/
    background-color: #F8F8F8;
}

footer .fa-fw {
    color: red;
    font-size: 24px;
}

footer p {
    color: #F24C58;
}


/*!!!!!!!!!!!!!! DESKTOP !!!!!!!!!!!!!!*/
@media (max-width: 980px) {
  .about {
      padding: 7% 0%;
  }
}

@media (max-width: 768px) {
  #portfolio {
      display: none;
  }
}


@media (min-width: 900px) {
    #about .col-lg-10 {
        margin-left: 100px;
    }
}
